<% const existeMensaje = typeof mensaje !== "undefined"%>


<style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% if(existeMensaje){%>
    <p>MENSAJE: <%=mensaje%></p>
<%}%>


<h1><%= usuario %></h1>
<% var apellido = 'Bernal';%>
<h2><%=apellido%></h2>

<!-- a significa q redirige algin lado-->

<form onsubmit="imprimirEnConsola()">

    <label for="busqueda">Busqueda</label>
    <input id="busqueda" type="text">

    <button>Buscar</button>

</form>


<a href="/crear-noticia">
<button>Crear Noticia</button>
</a>

<table>
    <!-- tr -> table row -->
    <tr>
        <!-- th -> table header -->
        <th>identificador</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    <!-- tr -> table row -->
    <% arreglo.forEach((noticia)=>{%>
    <tr>
        <!-- td -> table details -->
        <td><%=noticia.titulo%></td>
        <td><%=noticia.descripcion%></td>
        <td>
            <form action="/eliminar/<%=noticia.id%>" method="POST">
                <!--button-- type="button"> clickea sin problemas </button-->
                <!--button> Yo tambien envio informacion </button-->
                <button type="submit"> Eliminar </button>
            </form>
            <a href="/actualizar-noticia/<%=noticia.id%>">
                <button>Actualizar</button>
            </a>
        </td>
    </tr>
    <%})%>
</table>


<p>Parrafo</p>

<script>
    function imprimirEnConsola(evento) {
        evento.preventDefault();
        console.log('asdad');
    }
</script>